.card-fluid{
    background-color: #F2F9FF;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.group-card{
    border: none;
    background-color: #F2F9FF;
    margin-top: 90px;
    height:200px;
}


.group-card-img{
    height: 90px;
    border-radius:50%;
    width: 90px;
    margin-left: 5px;
}