.about-a{
    text-decoration:none;
    font-size:18px;
    font-weight:medium;
}

.about-h1{
    margin-top:10px;
    margin-bottom:25px;
}

.about-btn{
    font-size: 16px;
    font-weight: bold;
    margin-bottom:230px;
    border-radius: 25px;
    background-color: #2370C8;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 23px;
    border: 2px solid #2370C8;
}

.about-btn:hover{
    background-color: white;
    color : #2370C8;
}

.aa{
    margin-top: 100px;
}